<div>
    <h4>{{user.username}}</h4>
    <h5>{{user.email}}</h5>
    {{#each TasksForUser}}
    <h6>Complete: {{complete_date}}</h6>
    <h5>{{task_name}}</h5>
    <h6>{{description}}</h6>
    {{/each}}
<script src="./js/dev.js"></script>