    <body>
        <h3 class="text-white m-1 p-1 border-bottom border-success">{{project.project_name}}</h3>
        <h6 class="text-white m-1">{{project.description}}</h6>
        {{#each task}}
            <h5 class="text-white m-1 border-bottom border-success">{{task_name}}</h5>
            <p class="text-white m-1">{{description}}</p>
            <h7 class="text-white m-1">Assigned Users:</h7>
            {{#each UsersForTasks}}
                <p class="text-white m-1">- {{username}}</p>
            {{/each}}
            <img class="m-1 p-1" src='/users/project/load-file?filePath={{file_path}}' alt="task img" width="60" height="60">
        {{/each}}
        <form ref='uploadForm' id='uploadForm' action='/users/project/upload' method='post' encType="multipart/form-data" >
                <input class="btn btn-success m-1" type="file" id='file' name="file" />
                <select name="taskSelect" id="taskSelect">
                    {{#each task}}<option value="{{id}}">{{task_name}}</option>{{/each}}
                </select>
                <input class="btn btn-success m-1" type='submit' value='Upload!' />
        </form>
    </body>